<%- include('partials/header'); -%>



  
    <div class="preview flex-1 overflow-y-auto text-white">
      <div class="preview-wrap max-w-md mx-auto px-8 py-8">
        <header class="text-gray-500 mt-4 mb-6 text-lg flex justify-between">
          <div>8 NOV 2017</div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"><circle cx="12" cy="12" r="1"/><circle cx="19" cy="12" r="1"/><circle cx="5" cy="12" r="1"/></svg>
          </div>
        </header>
        <main class="leading-normal">
          <h1 class="mb-8 text-4xl font-normal">New Design Project</h1>
          <p>Brownie jelly-o sugar plum fruitcake powder donut. Sesame snaps cake toffee dessert chocolate caramels tart. Chocolate sugar plum powder toffee. Dragée cake lemon drops cheesecake caramels apple pie cookie.
            <img class="mt-8" src="https://images.unsplash.com/photo-1510070112810-d4e9a46d9e91?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aa88cd9eb66029e5134a759d301d549&auto=format&fit=crop&w=800&q=80" alt="">
            <ul class="mt-8 pl-4">
              <li>Tart macaroon jelly jelly.</li>
              <li>Gummies gummies tootsie roll sesame snaps.</li>
              <li>Wafer cheesecake tootsie roll.</li>
            </ul>
        </main>
      </div>
    </div>
  


    

<%- include('partials/footer'); -%>
