<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer Blog</title>
    <link rel="stylesheet" href="/dashboard/assets/css/app.css">
</head>
<body class="min-h-screen h-full">

    <div class="app bg-white flex font-sans antialiased h-screen overflow-hidden">

        <!-- Sidebar -->
        <div class="w-48 hidden lg:flex lg:flex-col overflow-y-auto bg-white px-8 py-3 pr-12 bg-gray-100 border-r border-gray-200">
            <div class="text-gray-900 flex items-center font-bold mb-12 mt-8">
                <svg class="w-4 h-4 mr-2 h-auto" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#000" d="M0 3h2.5v2.5H0zM3 3h2.5v2.5H3zM3 0h2.5v2.5H3z"/></svg>
                <span>devblog</span>
            </div>
            <ul class="list-reset pb-16 space-y-4">
                <li><a class="no-underline <% if(request.url == '/dashboard'){ %>font-bold text-gray-900<% } else { %> text-gray-700 font-medium hover:text-black <% } %>" href="/dashboard">Dashboard</a></li>
                <li><a class="no-underline <% if(request.url == '/dashboard/posts'){ %>font-bold text-gray-900<% } else { %> text-gray-700 font-medium hover:text-black <% } %>" href="/dashboard/posts">Posts</a></li>
                <li><a class="no-underline <% if(request.url == '/dashboard/settings'){ %>font-bold text-gray-900<% } else { %> text-gray-700 font-medium hover:text-black <% } %>" href="/dashboard/settings">Settings</a></li>
            </ul>
            <div class="categories-settings mt-auto flex justify-between items-center">
                <a href="#" class="no-underline hover:text-black text-gray-500">Settings</a>
                <a href="#" class="no-underline hover:bg-red-dark w-6 h-6 text-xs bg-red rounded-full flex justify-center items-center text-white font-bold">2</a>
            </div>
        </div>