<div class="hidden w-72 md:block overflow-y-auto bg-gray-200 leading-tight">
    <div class="flex px-8 pt-4 mt-7 mb-7  justify-between items-start">
        <h2 class="text-base font-bold">Posts</h2>
        <a href="/dashboard/posts/create" class="px-3 py-2 -translate-y-1 text-xs font-bold bg-green-500 text-white rounded-full">New Post</a>
    </div>

    <% posts.forEach(function(postItem){ %>

        <div onclick="window.location = '/dashboard/post/<%= postItem.slug %>'" class="cursor-pointer block py-6 <% if (typeof post != 'undefined' && postItem.slug == post.slug) { %> text-white bg-blue-500 <% } else { %> text-gray-700 <% } %>">
            <div class="px-8">
                <h3 class="font-medium"><%= postItem.title %></h3>
                <% if (postItem.excerpt) { %>
                    <p class="mt-1.5 text-xs"><%= postItem.excerpt %></p>
                <% } else { %>
                    <p class="mt-1.5 text-xs opacity-70">No short description has been added. Click here to edit the post.</p>
                <% } %>
            </div>
        </div>

    <% }); %>
</div>